.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
  }
  
  .centered-div {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    font-size: 18px;
  }
  .text .href{
    text-decoration: none;
    color: black;
  }
  